*.xvlog
*.lpr
*.log
README*
*.tmp
*.bak
*.out
*.aux
*.sdb
*.rlx
*.wdf
*.json
*.xml
*.txt
*.rst
*.pb
*.db
*.rpx
*.dcp
*.vdi
*.rpt
*.ini
*.db-shm
*.db-wal
*.cache
*.mem
*.jou
*.js
*.str
*.wdb

xsim*
__synthesis*

.tags
tags
